@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100 text-gray-900 text-lg;
}

button:focus{
  outline: none;
}

.button {
  @apply rounded-md px-3 py-2 hover:bg-gray-600 text-gray-100 bg-gray-700 shadow;
  flex-basis: 0;
  outline: none;

  &.blue {
    @apply bg-blue-900 text-blue-100 hover:bg-blue-800;
  }

  &.green {
    @apply bg-green-900 text-green-100 hover:bg-green-800;
  }

  &.red {
    @apply bg-red-900 text-red-100 hover:bg-red-800;
  }

  &.white {
    @apply bg-gray-100 text-yellow-900 hover:bg-gray-300;
  }

  &.large {
    @apply text-2xl;
  }
}

input[type="text"], input[type="email"], input[type="search"], input[type="datetime-local"]{
  @apply appearance-none block w-full bg-gray-700 rounded py-3 px-4 mb-1 leading-tight;
  &:focus{
     @apply outline-none;
  }
  &.small{
     @apply text-sm py-2 px-2;
  }
}

.input-group{
  @apply flex flex-wrap mb-1 items-center px-2 rounded-sm;
  label{
     @apply tracking-wide text-gray-200 text-sm font-bold px-1 block;
  }
  &.hidden{
     display: none;
  }
}

select{
	appearance: none;
	cursor: pointer;
   @apply w-full p-2 bg-gray-700 border rounded block outline-none border-none;
   &:focus{
      @apply outline-none;
   }
   &.small{
      @apply text-sm;
   }
}

select:hover{
	@apply border-gray-600;
}

textarea{
   @apply rounded;
   &:hover{
      @apply border-gray-600;
   }
   &:focus{
      @apply outline-none border;
   }
}
